.main-navbar{
    margin: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    background-color: #3f3f44;
    /* overflow: hidden; */
}
.company{
    flex: 10%;
    color: #f7f7f7;
    margin:auto;
    font-size: 30px;
    text-align: center;
}
.company a{
    color: #f7f7f7;
    text-decoration: none;
}
.search{
    flex: 80%;
    width: 100%;
    height: 4vh;
    margin:auto;
    text-align: center;
    border-radius: 4px;
}
.search input{
    width: 100%;
    height: 100%;
    margin:auto;
    border-radius: 4px;
    border: none;
}
.Cart {
    flex:10%;
    height: 8vh;
    width: 8vw;
    text-align: center;
    margin:auto;
}
.Cart a{
    width: 8vh;
    height: 8vh;
    margin: auto;
}
.Cart a svg{
    height: 5vh;
    width:5vw;
    fill: #f7f7f7;
    margin:auto;
    margin-top: 1vh;
}